    <section id="benefits">

        <div class="container content">
          <div class="row">
            <div class="col-md-12 content">
              <h2>Pourquoi la formation en ligne?</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 benefit">
              <h3>N'importe où</h3>
              Depuis la maison, en déplacements, au bureau... suivez vos formations où que vous soyez.
            </div>

            <div class="col-md-6 benefit">
              <h3>N'importe quand</h3>
              Jour, soirs, weekends... Tout d'un trait ou par courts segments (pendant votre pause? entre deux rendez-vous?). Et surtout <em>quand vous en avez besoin</em>...
            </div>

            <div class="col-md-6 benefit">
              <h3>À votre rythme</h3>
              Progressez à votre rythme. Revoyez les contenus qui vous intéressent, refaites les exercices, ou passez plus rapidement sur ce que vous maîtrisez déjà.
            </div>

            <div class="col-md-6 benefit">
              <h3>Retour sur investissement</h3>
              Beaucoup moins cher qu'un cours en salle, sans frais de déplacements.
            </div>
          </div>

        </div>
  </section>
