{% if page.description_ready %}
  {% assign col1width = 9 %}
  {% assign col2width = 3 %}
{% else %}
  {% assign col1width = 5 %}
  {% assign col2width = 7 %}
{% endif %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-{{ col1width }} content simple-content course-content">
      {{ content }}
    </div>
    <div class="col-md-{{ col2width }}">
      {% include course_args.html %}
    </div>
  </div>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "CreativeWork",
  "name": "{{ page.title }}",
  "description": "«{{ page.title }}» est une formation en ligne offert par Projet Finch.",
  "url": "http://www.FinchP.com{{ page.url }}",
  "publisher": {
    "@type": "Organization",
    "name": "Projet Finch"
  },
  "learningResourceType": "Textes, illustrations et questionnaires",
  "interactivityType": "mixed",
  "inLanguage": "fr",
  {% if page.date-published %}"datePublished": "{{ page.date-published }}",{% endif %}
  {% capture keywords %}{{page.keywords}}{% if page.keywords %}, {% endif %}formation en ligne, cours en ligne{% endcapture %}
  "keywords": "{{ keywords }}",
  "copyrightHolder": {
    "@type": "Organization",
    "name": "Projet Finch"
  },
  "copyrightYear": "2016",
}
</script>
