  <section id="courses">

    <div class="container content">
      <h2>Nos formations</h2>

      <div class="row">
        <div class="col-md-4">
          <h3>Édition numérique</h3>
          Introduction aux systèmes d'information  de l'édition numérique. ONIX. Création et contrôle de qualité des fichiers EPUB. Métadonnées: pourquoi et comment? BISAC, Thema et les systèmes de classification. Comprendre les outils de la DRM d'Adobe. Les standards d'identification de produits: ISBN, ISSN, ISNI et les autres. et plus...
        </div>

        <div class="col-md-4">
          <h3>Édition numérique</h3>
          Introduction aux systèmes d'information  de l'édition numérique. ONIX. Création et contrôle de qualité des fichiers EPUB. Métadonnées: pourquoi et comment? BISAC, Thema et les systèmes de classification. Comprendre les outils de la DRM d'Adobe. Les standards d'identification de produits: ISBN, ISSN, ISNI et les autres. et plus...
        </div>

        <div class="col-md-4">
          <h3>Édition numérique</h3>
          Introduction aux systèmes d'information  de l'édition numérique. ONIX. Création et contrôle de qualité des fichiers EPUB. Métadonnées: pourquoi et comment? BISAC, Thema et les systèmes de classification. Comprendre les outils de la DRM d'Adobe. Les standards d'identification de produits: ISBN, ISSN, ISNI et les autres. et plus...
        </div>
      </div>

    </div>
  </section>
