    <section id="courses">

        <div class="container content">
          <div class="row">
            <div class="col-md-12 content">
              <h2>Nos formations</h2>
            </div>
          </div>

          <div class="row">


            {% for cat in site.categories %}
            {% assign catego = cat[0] %}
            <div class="col-md-3">
              <h3>{{ cat[0] | capitalize }}</h3>
                {% for post in site.posts %}
                  {% if post.categories contains cat[0] %}
                    <a href="{{ post.url }}">
                      {% if post.description_ready %}
                        <strong>{{post.title}}</strong>
                      {% else %}
                        {{post.title}}
                      {% endif %}
                    </a>.
                  {% endif %}
                {% endfor %}
            </div>
            {% endfor %}

          </div>

        </div>
  </section>
