    <section id="courses">

        <div class="container content">
          <div class="row">
            <div class="col-md-12 content">
              <h2>Nos formations</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <h3>Édition numérique</h3>
              Introduction aux systèmes d'information  de l'édition numérique. ONIX. Création et contrôle de qualité des fichiers EPUB. Métadonnées: pourquoi et comment? BISAC, Thema et les systèmes de classification. Comprendre les outils de la DRM d'Adobe. Les standards d'identification de produits: ISBN, ISSN, ISNI et les autres. et plus...
            </div>

            <div class="col-md-4">
              <h3>Logiciels spécialisés</h3>
              Word et ses applications en édition. Introduction à iBooksAuthor. Gérer ses rapports avec Excel. et plus...
            </div>

            <div class="col-md-4">
              <h3>Gestion et productivité</h3>
              Gestion de projets agile. Scrum. Kanban. Gestion du temps avec GTD. Prise de notes efficaces. Mindmapping et pensée visuelle. et plus...
            </div>

            <div class="col-md-4">
              <h3>Commercialisation</h3>
              Vendre à l'étranger. Techniques de growth hacking. Faire des présentations gagnantes. Promouvoir avec les réseaux sociaux. Techniques de SEO. et plus...
            </div>
          </div>

        </div>
  </section>
