<div id="course-args">
  <h3>Ça vous intéresse?</h3>
  {% if page.available %}
    <a href="{{ page.lms-link }}" class="btn btn-lg btn-primary">S'inscrire!</a>
    <div class="course-args-faq">
  {% else %}
    <div class="course-args-faq">
    <a href="/newsletter">Abonnez-vous à notre infolettre</a> pour savoir quand le cours sera disponible.
  {% endif %}


  <h3>Qu'est-ce que c'est?</h3>
  «{{ page.title }}» est un cours offert en ligne par <a href="/">Projet Finch</a>. Nous offrons également <a href="/#courses">plusieurs autres cours</a>.

  <h3>Comment ça fonctionne?</h3>
  Vous vous inscrirez et ferez votre paiement en ligne. Vous pourrez accéder à votre formation immédiatement. Nos contenus sont conçus autour de textes et d’illustrations clairs, simples et efficaces. Ils sont découpés en courts modules et complétés de questionnaires qui vous permettent de confirmer votre compréhension.

  <h3>Pourquoi la formation en ligne?</h3>
  Vous pouvez suivre votre formation quand vous voulez, où vous voulez, à votre rythme, et à coût abordable.

  <h3>D'autres questions?</h3>
  N'hésitez pas à <a href="/contact">nous contacter</a>.
  </div>
</div>
