    <section id="faq">

        <div class="container content">
          <div class="row">
            <div class="col-md-12 content">
              <h2>Questions fréquentes</h2>
            </div>
          </div>

          <div class="row faq-answer">
            <div class="col-md-12">
              <h4>Comment ça fonctionne?</h4>
              Vous vous inscrirez et ferez votre paiement en ligne. Vous pourrez accéder à votre formation immédiatement. Nos contenus sont conçus autour de textes et d’illustrations clairs, simples et efficaces. Ils sont découpés en courts modules et complétés de questionnaires qui vous permettent de confirmer votre compréhension.
            </div>

            <div class="col-md-12">
              <h4>Puis-je apprendre sur ma tablette?</h4>
              Oui, nos formations fonctionnent aussi bien sur tablette que sur ordinateur.
            </div>

            <div class="col-md-12">
              <h4>Combien ça coûte?</h4>
              Le prix de nos formations sera annoncé à l’ouverture du centre. Le prix sera significativement moindre que celui d’une formation en salle.
            </div>

            <div class="col-md-12">
              <h4>Puis-je essayer le système avant de payer pour une formation?</h4>
              Oui. Nous offrirons un cours gratuit qui vous permettra de tester l’expérience d’apprentissage en ligne (et d’apprendre des choses intéressantes!). Inscrivez votre adresse courriel ci-dessus pour recevoir un message lorsqu'il sera disponible.
            </div>
          </div>

        </div>
  </section>
