<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
            <img src="img/logo-fr-white.png" class="hidden-xs hidden-sm">
            <img src="img/logo-fr-white-small.png" class="hidden-md hidden-lg">
						<h2>{{ page.subTitle }}</h2>
            <h3>{{ page.tagLine }}</h3>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
