<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "description": "{{ site.description }}",
  "url": "http://www.FinchP.com",
  "sameAs" : [
    "http://www.facebook.com/ProjetFinch",
    "http://www.twitter.com/finchproj",
    "https://medium.com/projet-finch"
  ],
  "logo": "http://www.FinchP.com/img/logo-fr-white.png",
  "email": "info@finchp.com",
  "location": {
    "@type": "Place",
    "name": "Québec (Qc), Canada"
  },
  "name": "Projet Finch"
}
</script>
