<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://www.FinchP.com",
  "logo": "http://www.FinchP.com/img/logo-fr-white.png",
  "email": "info@finchp.com",
  "location": "Québec (Qc), Canada",
  "name": "Projet Finch",
  "description": "Centre d'apprentissage en ligne des organisations qui savent s'adapter. Des capsules d'apprentissage pratiques, courtes et efficaces sur le numérique et les nouvelles pratiques d'affaires"
}
</script>
