    <section id="quote">

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              « La formation est un élément-clé pour transmettre rapidement des savoirs, faire évoluer les mentalités et initier une dynamique de changement en interne »<br/>
              <span class="quote-source">Fred Cazzava, au sujet de la <a href="http://www.fredcavazza.net/2015/10/19/la-vente-en-ligne-nest-pas-une-finalite-la-transformation-digitale-doit-se-faire-en-profondeur/">transformation numérique des organisations</a></span>
            </div>
          </div>
        </div>

  </section>
